@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* CSS Reset */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
button,
input,
select,
textarea {
    font-family: "Roboto", sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Vars */

:root {
    --primary: hsl(0, 0%, 100%);
    --secondary: hsl(0, 0%, 98%);
    --border: hsl(0, 0%, 86%);
    --story-border: hsl(0, 0%, 78%);
    --img-border: hsla(0, 0%, 0%, 0.1);
    --text-dark: hsl(0, 0%, 15%);
    --text-light: hsl(0, 0%, 60%);
    --like: hsl(355, 82%, 61%);
    --link: hsl(204, 100%, 48%);
    --header-height: 44px;
    --nav-height: 44px;
}


/* -------------------------------------------------- */


/* General Styles */

body {
    min-height: 100vh;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}

svg {
    display: block;
}

img {
    max-width: 100%;
}


/* -------------------------------------------------- */


/* Main Content */

.mainbox {
    background-color: var(--secondary);
    margin-top: var(--header-height);
    margin-bottom: 0;
    display: flex;
    flex: 1;
}

.box {
    width: 100%;
    max-width: 935px;
    max-height: 685px;
    padding: 0;
    margin: 20px auto 15px auto;
    display: flex;
    border-radius: 4px;
    background-color: var(--primary);
    border: 1px solid var(--border);
}

.nickname-list-friend {
    width: 349px;
    border-right: 1px solid var(--border);
}

.nickname {
    height: 10%;
    padding: 0 20px;
    background-color: var(--primary);
    border-bottom: 1px solid var(--border);
    border-top-left-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nickname button {
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    background: var(--primary);
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    justify-content: right;
}

.user h3 {
    font-size: larger;
}

.user span {
    display: flex;
    transform: rotate(180deg);
    padding: 0 6px 0 0;
}

.new-mess {
    display: flex;
    align-items: center;
}

.list-friend {
    height: 90%;
    background-color: var(--primary);
    border-bottom-left-radius: 4px;
    overflow-y: scroll;
}

.side-menu__chat-content {
    display: flex;
    flex-direction: column;
}

.side-menu__chat {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.side-menu__chat-content a:hover {
    background: var(--secondary);
}

.side-menu__chat-content a:focus {
    background: var(--border);
}

.side-menu__chat-avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 12px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

.side-menu__chat-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    gap: 2px;
}

.side-menu__chat-info h5 {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.side-menu__chat-info span {
    color: var(--text-light);
}

.time {
    padding-left: 5px;
}

.all-content {
    display: flex;
    white-space: nowrap;
}

.content-text {
    width: 180px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.box-chat-none-select {
    width: 63%;
}


.text-none {
    display: block;
    text-align: center;
    transform: translateY(120%);
}

.logo {
    display: inline-block;
}

.mess h1 {
    font-size: 22px;
    padding-top: 10px;
    font-weight: 100;
}

.mess p {
    font-size: 14px;
    padding-top: 10px;
    color: var(--text-light);
}

.text-none button {
    margin-top: 20px;
    padding: 6px 10px;
    border: none;
    font-size: 14px;
    background-color: #0095f6;
    color: #fff;
    border-radius: 6px;
}

.text-none button:active {
    background-color: #3cb0fd;
}

.name-friend {
    height: 10%;
    padding: 0 20px;
    font-size: larger;
    background-color: var(--primary);
    border-bottom: 1px solid var(--border);
    border-top-left-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-friend a+a {
    margin-left: 10px;
}

.name-friend img {
    width: 24px;
    height: 24px;
    border-radius: 50px;
}

.avatar-and-name-user {
    display: flex;
    align-items: center;
    justify-content: right;
}

.avatar-and-name-user a {
    text-decoration: none;
    color: var(--text-dark);
}

.box-show-mess {
    height: 78%;
    overflow-y: scroll;
    background-color: var(--primary);
}

.input-mess {
    height: 12%;
    padding: 18px;
    background-color: var(--primary);
}

.input {
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    border: 2px solid var(--border);
    outline: none;
    background-color: var(--primary);
}

.input input {
    width: 80%;
    height: 100%;
    border: none;
    padding: 0 0 0 3px;
}

.input button {
    padding: 0px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary);
}

.right-button-input {
    display: flex;
}

.right-button-input button {
    margin: 0 5px;
}

.send-btn {
    display: none;
    font-size: 14px;
    font-weight: 500;
    color: #0095f6;
}