.menu {
  position: absolute;
  top: 45px;
  right: -28px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: 2px solid hsl(0, 0%, 86%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  cursor: default;
}

.menu.active {
  visibility: visible;
  opacity: 1;
}

.menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: hsl(0, 0%, 100%);
  transform: rotate(45deg);
  border-top: 2px solid hsl(0, 0%, 86%);
  border-left: 2px solid hsl(0, 0%, 86%);
}

.menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: #555;
  line-height: 1.3em;
  cursor: default;
}

.menu h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 400;
}

.menu ul a li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu ul a li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.menu ul a li:hover img {
  opacity: 1;
}

.menu ul a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.menu ul a li:hover {
  color: #262626;
}

.menu ul a li:hover {
  background-color: hsl(0, 0%, 98%);
}
